.color-primary-0 { background-color: #1A263D; color: white; }	
.color-primary-1 { background-color: #44506A; color: white; }
.color-primary-2 { background-color: #293347; color: white; }
.color-primary-3 { background-color: #0E182D; color: white; }
.color-primary-4 { background-color: #040C1B; color: white; }

.shadow { box-shadow: 0px 10px 14px -7px white; }

.error {
    background-color: rgb(139,24,39);
    color: rgb(255,255,255);
}

.link {
    color: white;
}

.back-image {
    background-image: url("/images/code.jpg");
    background-size: 100%;
}

.header {    
    background: linear-gradient(#293347, #1A263D);
}

.textArea {
    opacity: 0.9;
}

.textInput {
    opacity: 0.9;
}

.selectionlist {
    opacity: 0.9;
}
