.color-primary-0 { background-color: #5C4033; color: #CBB18D; }	
.color-primary-1 { background-color: #B38F7F; color: #CBB18D; }
.color-primary-2 { background-color: #896758; color: #CBB18D; }
.color-primary-3 { background-color: #512E1F; color: #CBB18D; }
.color-primary-4 { background-color: #3B1B0D; color: #CBB18D; }

.shadow { box-shadow: 0px 10px 14px -7px #CBB18D; }

.error {
    background-color: rgb(139,24,39);
    color: rgb(255,255,255);
}

.link {
    color: #CBB18D;
}

.back-image {
    background-image: url("/images/wood.jpg");
    background-size: 100%;
}

.header {
    /*font-style: italic;*/
    /*background-image: url("/images/wood.jpg");*/
    background: linear-gradient(#896758, #5C4033);
}

.textArea {
    opacity: 0.9;
}

.textInput {
    opacity: 0.9;
}

.selectionlist {
    opacity: 0.9;
}